/* ================================================
    General CSS
==================================================*/
.brand-logo {
    cursor: pointer;
}

.brand-logo-chimp {
    background: url(../img/LOGO.jpg);
    background-size: 67px 64px;
    background-repeat: no-repeat;
}

footer.lower {
    margin-top:50px;
}

.row.login {
    margin-top:250px;
}

.material-icons.personal-zone-button {
    display: inline;
    margin: 0px 9px;
}

.personal-zone-button-text {
   vertical-align: super;
}

.champcv-logo {
    width: 36%;
}

.logout {
    font-weight:500;
}

/* ================================================
    login CSS
==================================================*/

login .bkg {
    background: url(../img/LOGO30.jpg);
    background-size: 21%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 30px;
}

login .sign-up {
    font-size: 23px;
}

login .sign-up a{
    cursor: pointer;
}

login h5 {
    font-weight:500;
}

login h5.title{
    font-weight:400;
}

login .form {
    margin-top: 30px;
}

login .row .col.preloader {
    margin-left: 45.83333333333333%;
}

login .container {
    margin-top: 100px;
}

/* ================================================
    registration CSS
==================================================*/

registration .fields-label {
   font-size: 15px;
}

registration .form {
    margin-top: 50px;
}

registration .row {
    margin-bottom: 2px;
}

registration .lower {
    margin-top: 15px;
}

registration .upload-cv-secondary-text {
    font-size: 13px;
}

registration .fields-label {
    display: block;
}

registration .seperator {
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom:double;
    border-width:1px;
    border-color: lightgrey;
}


/* ================================================
    home-page CSS
==================================================*/

home-page .resume {
    width: 70%;
    margin: 0 auto;
}

home-page .content {
    margin-top: 80px;
}

home-page .card-image {
    margin: 0;
    /*width: 271px;
    height: 290px;*/
    height: 290px;
}

home-page .card {
    /*width: 272px;*/
    height: 362px;
}

home-page .desc {
    display: inline-block;
    float: left;
    position: relative;
    margin-top: 15px;
    width:60%;
    overflow-wrap: break-word;
    border-right: solid;
    border-width: 1px;
}

home-page .icon {
    /*display: inline-block;
    float: right;
    width: 40%;
    margin-top:-15px;
    color: black;
    cursor: pointer;*/

   
   
    width: 100%;
    margin-top:-15px;
    color: black;
    cursor: pointer;
    margin-left: 36px;
}

home-page .icon-title {
    text-align: center;
    font-size: 16px;
}

home-page .star-icon {
    font-size: 2rem;
    /*border-left: solid;
    border-width: 1px;*/
    padding-left: 33px;
}

home-page .material-placeholder {
    /*height: 245px;*/
}

home-page .card .card-content {
   padding-top: 6px;
}

home-page .row .col.preloader {
    margin-left: 45.83333333333333%;
    margin-top: 200px;
}

home-page .empty {
    margin-top: 150px;
}

/* ================================================
    grade-resume CSS
==================================================*/

grade-resume .resume {
   margin: 50px 0 0 50px;
}

grade-resume .resume-fields {
   margin: 20px 0 0 50px;
}

grade-resume .resume-iframe {
   margin: 50px 0 0 50px;
   width:600px; 
   height:900px;
}

grade-resume .resume-iframe-small {
   margin: 50px 0 0 50px;
   width:540px; 
   height:810px;
   display:none;
}


grade-resume .report {
   margin: 15px 0 0 50px;
   width: 160px;
}

grade-resume .left-side {
   display: inline-block;
   width: 39%;
}

grade-resume .right-side {
   margin-top: 50px;
}

grade-resume .star {
   padding: 0;
}

grade-resume .left {
   margin-left:7px;
}

grade-resume .right {
   margin-right:7px;
}

grade-resume textarea.materialize-textarea {
   overflow-y: scroll;
   padding: 26px 0 15px 0;
}

grade-resume .lower {
    margin-top:60px;
}

grade-resume .error{
    font-size: 16px;
}

grade-resume .price{
    font-size: 30px;
    color: red;
}

grade-resume .modal {
    width:35%;
}

grade-resume .title {
    font-weight:500;
}

grade-resume .contact-details {
    font-size:17px;
}

@media only screen and (max-width: 1700px) {
    grade-resume .resume-iframe-small {
        display:initial;
    }
    grade-resume .resume-iframe {
        display:none;
    }

    .row .col.offset-s2.mobile {
        margin-left: 10%;
    }
}

@media only screen and (min-width: 993px){
    #toast-container {
        top: 70%;
        right: 50%;
    }
}

/* ================================================
    settings CSS
==================================================*/

settings .first {
    margin-top:35px;
}

settings h5 {
    font-size:20px;
}

settings .lower {
    margin-top: 25px;
}

settings .card-lower {
    margin-top: 35px;
}

settings .fields-label {
   font-size: 15px;
}

settings .resume {
    width: 60%;
}

settings .fields-label {
   font-size: 15px;
}


/* ================================================
    personal zone CSS
==================================================*/


personal-zone .first {
    margin-top:50px;
}

personal-zone .quotes {
    font-size:50px;
    background: url(../img/quotes_left.png);
    background-size: 67px 64px;
    background-repeat: no-repeat;
}

personal-zone .question {
    font-size:30px;
    margin: 30px 0;
}

personal-zone .report {
    float: right;
    color: #004d40;
    cursor: pointer;
}

personal-zone .answer {
    overflow: auto;
}

personal-zone .quotes-left {
    width: 3%;
    margin-right: 15px;
    margin-bottom: 10px;
}

personal-zone .quotes-right {
    width: 3%;
    margin-left: 15px;
}

personal-zone .points {
    font-size:50px;
}

personal-zone .points-star {
    color: #00897b;
}

personal-zone .row .col.chart.offset-s2 {
    margin-left: 20.83333333333333%;
}

personal-zone statistics h6 {
    font-size: 18px;
}

personal-zone statistics .close-question {
    font-size: 16px;
    color: #455a64;
}

personal-zone statistics .close-question-answer {
    font-size: 25px;
    color: #455a64;
}

personal-zone statistics .seperator {
    border-bottom: solid;
    color: #cfd8dc;
    border-width:1px;
    margin-bottom: 20px;
}

personal-zone statistics .row .col.offset-s2 {
    margin-left: 20.83333333333333%;
}

personal-zone statistics .row .col.card-panel.offset-s1 {
    margin-left: 5.55555555555556%;
}


personal-zone .empty {
    opacity: 0;
}



